.summoner-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

.summoner {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 0;
  align-items: center;

  box-shadow: inset 10px 10px 32px 0 #000000;

}

.summoner-img {
  padding: 1%;
  box-sizing: border-box;
  object-fit: cover;
  width: auto;
  max-height: 100%;
}

.summoner-name {
  font-size: max(4vh, 200%);
  font-weight: 500;
  margin: 0;
}

.summoner-level {
  margin: 0;
  font-size: max(2vh, 100%);
  font-style: italic;
}

.matchhistory {
  padding: 25px;
  width: 100%;
  overflow: scroll;
  box-shadow: inset 10px 10px 32px 0 #000000;
}
