@use 'sass:map';
@use '@angular/material' as mat;

@import "palettes";

// Colors
$white-on-grey: mat.get-color-from-palette($leagueapp-accent, 500-contrast);
$blue-on-grey: mat.get-color-from-palette($leagueapp-primary, 500);
$grey-on-blue: mat.get-color-from-palette($leagueapp-accent, 700);
$warning-red: mat.get-color-from-palette($leagueapp-warn, 400);
$background-grey: mat.get-color-from-palette($leagueapp-accent, 500);

// Font Family
$font-family: 'Kanit', sans-serif;

// Size
$input-height: 50px;
$button-height: 50px;
$button-width: 120px;
$header-element-size: 1.8rem;
$login-text-size: 4rem;
$donthaveanaccounttext-size: 1.5rem;

// Distances and Dimensions
$input-border-width: 3px;
$input-border-radius: 25px;
$input-padding: 25px;
$button-border-width: 3px;
$button-border-radius: 25px;
$button-box-shadow: 10px 10px 32px 0 #000000;
$navbar-border-width: 4px;
$header-element-padding: 1.8em;
$header-element-hover-cursor: pointer;
$logout-element-padding: 15px 30px 10px;
$logout-element-margin-left: auto;

// Authentication variables
$authentication-headline-font-size: 4rem;
$authentication-headline-font-weight: 500;


