.custom-navbar {
  max-height: 10%;
}

.content {
  position: relative;
  border: 1px solid red;
  width: 90vw;
  height: 90vh;
  min-width: 115rem;
  min-height: 60rem;

  top: 11%;
  left: 5%;
  bottom: 8%;
  right: 8%;
}
