<form (ngSubmit)="login(form)" #form="ngForm" class="login-form">
  <p class="login-text">Login</p>
  <div class="input-block">
    <input
      class="login-input"
      type="text"
      placeholder="Email"
      name="email"
      required
      ngModel>
  </div>
  <div class="input-block">
    <input
      class="login-input"
      type="text"
      placeholder="Password"
      name="password"
      required
      ngModel>
  </div>
  <button class="login-button" type="submit">Login</button>
  <p class="donthaveanaccounttext">Don't have an account? - <a class="signupheretext" routerLink="/login/signup">Sign up
    here</a>
  </p>
</form>




