@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.signup-input {
  width: 100%;
  height: 50px;
  border-width: 3px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.signup-required-input {
  width: 100%;
  height: 50px;
  border-width: 3px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.signup-text {
  font-weight: 500;
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
}

.signup-input::content {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 120%;
}

.signup-required-input::content {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 120%;
}

.signup-button {
  height: 50px;
  min-width: 120px;
  border-width: 3px;
  border-radius: 25px;
  box-shadow: 10px 10px 32px 0 #000000;
  font-weight: 700;
  font-size: 175%;
  align-self: flex-end;
}

.alreadyhaveanaccounttext {
  margin-top: 10%;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

.neutral-help-block {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
  padding: 0;
}

.warning-help-block {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0;
}
