// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'app/navbar/navbar-theme.component' as navbar;
@use 'app/summoners/search/searchbar-theme.component' as searchbar;
@use 'src/app/login/login-theme.component' as login;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$leagueapp-primary-palette:  (
  50 : #edf6f7,
  100 : #d3e8ec,
  200 : #b6d8df,
  300 : #99c8d2,
  400 : #83bdc9,
  500 : #6db1bf,
  600 : #65aab9,
  700 : #5aa1b1,
  800 : #5098a9,
  900 : #3e889b,
  A100 : #edfbff,
  A200 : #baf0ff,
  A400 : #87e5ff,
  A700 : #6ee0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$leagueapp-accent: (
  50 : #ebecec,
  100 : #cccfd0,
  200 : #aab0b1,
  300 : #889091,
  400 : #6f787a,
  500 : #556062,
  600 : #4e585a,
  700 : #444e50,
  800 : #3b4446,
  900 : #2a3334,
  A100 : #88eefb,
  A200 : #56e7fa,
  A400 : #1ee6ff,
  A700 : #04e3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$leagueapp-primary: mat.define-palette($leagueapp-primary-palette);
$leagueapp-accent: mat.define-palette($leagueapp-accent);

// The warn palette is optional (defaults to red).
$leagueapp-warn: mat.define-palette(mat.$red-palette);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$leagueapp-theme: mat.define-light-theme((
  color: (
    primary: $leagueapp-primary,
    accent: $leagueapp-accent,
    warn: $leagueapp-warn
  )
));

// My palette: 0C120C C20114 6D7275 C7D6D5 D4AA7D
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($leagueapp-theme);
@include navbar.color($leagueapp-theme);
@include searchbar.color($leagueapp-theme);
@include login.color($leagueapp-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: mat.get-color-from-palette($leagueapp-primary, 500);
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}



